@import "../../../assets/theme/constants.scss";

.drawer {
  width: $drawerWidth;
  flex-shrink: 0;
  background-color: $dark-blue !important;
  background: $dark-blue !important;

  .MuiDrawer-paper {
    width: $drawerWidth;
    background-color: $dark-blue;
    box-sizing: 'border-box';
    color: $darkGrey;
    
    display: flex;
    flex-direction: column;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.sectionHeader {
  padding-left: 16px;
  font-size: 0.75rem;
  color: $darkGrey;
}

.MuiListItemButton-root {
  color: $darkGrey;

  &.Mui-selected {
    background-color: rgba(255, 255, 255, 0.2) !important;
    position: relative;
    
    .MuiListItemIcon-root {
      color: #FFFFFF !important;
    }

    .MuiTypography-root {
      color: #FFFFFF !important;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 4px;
      height: 100%;
      background-color: white;
    }
  }
}

.selected {
  background-color: rgba(255, 255, 255, 0.2) !important;
  position: relative;

  .MuiListItemIcon-root {
    color: #FFFFFF !important;
  }

  .MuiTypography-root {
    color: #FFFFFF !important;
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: white;
  }
}

.MuiListItemIcon-root {
  color: $darkGrey;
}

.MuiSvgIcon-root {
  font-size: 1.2rem;
}

.MuiListItemText-root {
  .MuiTypography-root {
    font-size: 1rem;
  }
}
